.postButton {
   border: 2px solid transparent; 
   padding: 0.5rem;
}
.postButton:hover {
    border: 2px solid white; 
 }
 .title {
    font-size: 1.5rem;
 }
 .likeArrow {
   height: 20px;
 }
 a:hover {
   color: rgb(178, 171, 171);
 }
 .reply:hover {
   border: 1px solid white;
   cursor: pointer;
 }